In [2]:
url = "https://github.com/TanayPatare/CONTENT-BASED-MOVIE-RECOMENDER-SYSTEM/raw/main/Data/heart.rar"

In [3]:
import os

In [4]:
os.path.basename(url)

'heart.rar'

In [5]:
x = "E:\PROJECTS\Spark-Project\jupyter_notebooks"

In [6]:
os.listdir(x)[0]

'example2.ipynb'

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("demo").getOrCreate()

In [9]:
from pyspark.sql.types import *

In [10]:
path1 = "E:\PROJECTS\Spark-Project\jupyter_notebooks\heart.csv"

In [11]:
from config.dataframe_schema import schema

In [12]:
Classification_data_frame = spark.read.csv(path=path1,schema=schema,header=True)

In [13]:
Classification_data_frame.show()

+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
|age|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
| 63|  1|  3|     145| 233|  1|      0|    150|    0|    2.3|    0|  0|   1|     1|
| 37|  1|  2|     130| 250|  0|      1|    187|    0|    3.5|    0|  0|   2|     1|
| 41|  0|  1|     130| 204|  0|      0|    172|    0|    1.4|    2|  0|   2|     1|
| 56|  1|  1|     120| 236|  0|      1|    178|    0|    0.8|    2|  0|   2|     1|
| 57|  0|  0|     120| 354|  0|      1|    163|    1|    0.6|    2|  0|   2|     1|
| 57|  1|  0|     140| 192|  0|      1|    148|    0|    0.4|    1|  0|   1|     1|
| 56|  0|  1|     140| 294|  0|      0|    153|    0|    1.3|    1|  0|   2|     1|
| 44|  1|  1|     120| 263|  0|      1|    173|    0|    0.0|    2|  0|   3|     1|
| 52|  1|  2|     172| 199|  1|      1|    162|    0|    0.5|    2|  0|   3|     1|
| 57|  1|  2|     150| 168|  0|      1|    174|    0|    1.6|    2|  0|   2|     1|
| 54|  1|  0|     140| 239|  0|      1|    160|    0|    1.2|    2|  0|   2|     1|
| 48|  0|  2|     130| 275|  0|      1|    139|    0|    0.2|    2|  0|   2|     1|
| 49|  1|  1|     130| 266|  0|      1|    171|    0|    0.6|    2|  0|   2|     1|
| 64|  1|  3|     110| 211|  0|      0|    144|    1|    1.8|    1|  0|   2|     1|
| 58|  0|  3|     150| 283|  1|      0|    162|    0|    1.0|    2|  0|   2|     1|
| 50|  0|  2|     120| 219|  0|      1|    158|    0|    1.6|    1|  0|   2|     1|
| 58|  0|  2|     120| 340|  0|      1|    172|    0|    0.0|    2|  0|   2|     1|
| 66|  0|  3|     150| 226|  0|      1|    114|    0|    2.6|    0|  0|   2|     1|
| 43|  1|  0|     150| 247|  0|      1|    171|    0|    1.5|    2|  0|   2|     1|
| 69|  0|  3|     140| 239|  0|      1|    151|    0|    1.8|    2|  2|   2|     1|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import count,isnan,isnull,when,col
Classification_data_frame.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in Classification_data_frame.columns]).show()

+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
|age|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
|  0|  0|  0|       0|   0|  0|      0|      0|    0|      0|    0|  0|   0|     0|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+

In [14]:
(train, test) = Classification_data_frame.randomSplit([0.8, 0.2])

In [15]:
train.show()

+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
|age|sex| cp|trestbps|chol|fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
| 29|  1|  1|     130| 204|  0|      0|    202|    0|    0.0|    2|  0|   2|     1|
| 34|  0|  1|     118| 210|  0|      1|    192|    0|    0.7|    2|  0|   2|     1|
| 34|  1|  3|     118| 182|  0|      0|    174|    0|    0.0|    2|  0|   2|     1|
| 35|  0|  0|     138| 183|  0|      1|    182|    0|    1.4|    2|  0|   2|     1|
| 35|  1|  0|     120| 198|  0|      1|    130|    1|    1.6|    1|  0|   3|     0|
| 35|  1|  0|     126| 282|  0|      0|    156|    1|    0.0|    2|  0|   3|     0|
| 35|  1|  1|     122| 192|  0|      1|    174|    0|    0.0|    2|  0|   2|     1|
| 37|  0|  2|     120| 215|  0|      1|    170|    0|    0.0|    2|  0|   2|     1|
| 37|  1|  2|     130| 250|  0|      1|    187|    0|    3.5|    0|  0|   2|     1|
| 38|  1|  2|     138| 175|  0|      1|    173|    0|    0.0|    2|  4|   2|     1|
| 38|  1|  2|     138| 175|  0|      1|    173|    0|    0.0|    2|  4|   2|     1|
| 38|  1|  3|     120| 231|  0|      1|    182|    1|    3.8|    1|  0|   3|     0|
| 39|  0|  2|      94| 199|  0|      1|    179|    0|    0.0|    2|  0|   2|     1|
| 39|  0|  2|     138| 220|  0|      1|    152|    0|    0.0|    1|  0|   2|     1|
| 39|  1|  0|     118| 219|  0|      1|    140|    0|    1.2|    1|  0|   3|     0|
| 39|  1|  2|     140| 321|  0|      0|    182|    0|    0.0|    2|  0|   2|     1|
| 40|  1|  0|     110| 167|  0|      0|    114|    1|    2.0|    1|  0|   3|     0|
| 40|  1|  0|     152| 223|  0|      1|    181|    0|    0.0|    2|  0|   3|     0|
| 40|  1|  3|     140| 199|  0|      1|    178|    1|    1.4|    2|  0|   3|     1|
| 41|  0|  1|     105| 198|  0|      1|    168|    0|    0.0|    2|  1|   2|     1|
+---+---+---+--------+----+---+-------+-------+-----+-------+-----+---+----+------+
only showing top 20 rows

In [16]:
train.select('age').show()

+---+
|age|
+---+
| 29|
| 34|
| 34|
| 35|
| 35|
| 35|
| 35|
| 37|
| 37|
| 38|
| 38|
| 38|
| 39|
| 39|
| 39|
| 39|
| 40|
| 40|
| 40|
| 41|
+---+
only showing top 20 rows

In [17]:
train.count()

256

In [18]:
test.count()

47

In [19]:
train.groupBy('target').count().orderBy('count').show()

+------+-----+
|target|count|
+------+-----+
|     0|  111|
|     1|  145|
+------+-----+

In [20]:
test.groupBy('target').count().orderBy('count').show()

+------+-----+
|target|count|
+------+-----+
|     1|   20|
|     0|   27|
+------+-----+

In [22]:
os.getcwd()

'e:\\PROJECTS\\Spark-Project\\jupyter_notebooks'

In [21]:
test.write.format("csv").save(path='e:\\PROJECTS\\Spark-Project\\jupyter_notebooks\\test.csv')

AnalysisException: path file:/e:/PROJECTS/Spark-Project/jupyter_notebooks/test.csv already exists.

In [23]:
from config.dataframe_schema import schema

In [24]:
data1 = spark.read.csv("heart.csv",header=True,schema=schema)

In [25]:
dic = {}
for col in data1.dtypes:
    dic[col[0]] = col[1]
print(dic)

{'age': 'int', 'sex': 'int', 'cp': 'int', 'trestbps': 'int', 'chol': 'int', 'fbs': 'int', 'restecg': 'int', 'thalach': 'int', 'exang': 'int', 'oldpeak': 'float', 'slope': 'int', 'ca': 'int', 'thal': 'int', 'target': 'int'}

In [26]:
data1.schema

StructType(List(StructField(age,IntegerType,true),StructField(sex,IntegerType,true),StructField(cp,IntegerType,true),StructField(trestbps,IntegerType,true),StructField(chol,IntegerType,true),StructField(fbs,IntegerType,true),StructField(restecg,IntegerType,true),StructField(thalach,IntegerType,true),StructField(exang,IntegerType,true),StructField(oldpeak,FloatType,true),StructField(slope,IntegerType,true),StructField(ca,IntegerType,true),StructField(thal,IntegerType,true),StructField(target,IntegerType,true)))

In [27]:
data1.printSchema(
)

root
 |-- age: integer (nullable = true)
 |-- sex: integer (nullable = true)
 |-- cp: integer (nullable = true)
 |-- trestbps: integer (nullable = true)
 |-- chol: integer (nullable = true)
 |-- fbs: integer (nullable = true)
 |-- restecg: integer (nullable = true)
 |-- thalach: integer (nullable = true)
 |-- exang: integer (nullable = true)
 |-- oldpeak: float (nullable = true)
 |-- slope: integer (nullable = true)
 |-- ca: integer (nullable = true)
 |-- thal: integer (nullable = true)
 |-- target: integer (nullable = true)

In [ ]:
data1.show()

NameError: name 'data1' is not defined

In [28]:
from Classification.utils.util import read_yaml_file

In [66]:
x = read_yaml_file(file_path='E:\PROJECTS\Spark-Project\config\schema.yaml')
y = x["column"]
y

{'age': 'int',
 'sex': 'int',
 'cp': 'int',
 'trestbps': 'int',
 'chol': 'int',
 'fbs': 'int',
 'restecg': 'int',
 'thalach': 'int',
 'exang': 'int',
 'oldpeak': 'float',
 'slope': 'int',
 'ca': 'int',
 'thal': 'int',
 'target': 'int'}

In [67]:
list(dic.keys())

['age',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal',
 'target']

In [68]:
list(dic.values())

['int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'int',
 'float',
 'int',
 'int',
 'int',
 'int']

In [49]:
y.keys(
)

dict_keys(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', "target'"])

In [69]:
if list(dic.values()) == list(y.values()):
    x = True
    print(x)

True

In [64]:
dic.keys()

dict_keys(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'])

In [65]:
y.keys()

dict_keys(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', "target'"])

In [70]:
if list(dic.keys()) == list(y.keys()):
    k = True
    print(k)
else:
    print(False)

True

In [71]:
if x and k:
    print(True) 
else:
    print(False)

True

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
x = pd.read_csv("heart.csv")
y,z = train_test_split(x, test_size=0.2)
L = [y,z]

In [3]:
L[0]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2,1
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,65,1,3,138,282,1,0,174,0,1.4,1,1,2,0
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0

In [4]:
L[1]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2,1
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,63,1,0,130,330,1,0,132,1,1.8,2,3,3,0
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3,0
254,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1

In [35]:
def get_transformed_train_test_data(*kwargs):
    try:
        for i in kwargs:
            print (i)
    except Exception as e:
        raise Exception(e) from e

In [36]:
preprocessed_obj = get_transformed_train_test_data()

In [39]:
print(preprocessed_obj)

None

In [42]:
import dill
import os

In [44]:
os.getcwd()

'e:\\PROJECTS\\Spark-Project\\jupyter_notebooks'

In [ ]:
E:\PROJECTS\Spark-Project

In [46]:
file_path = 'E:\PROJECTS\Spark-Project'
with open(file_path, "wb") as file_obj:
    dill.dump(y, file_obj)

PermissionError: [Errno 13] Permission denied: 'E:\\PROJECTS\\Spark-Project'